.list-group {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
  .list-group-item {
    display: block;
    width: 100%;
    padding: 30px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #f5f5f5;
  }
  
  @media (max-width: 768px) {
    .list-group-item {
      font-size: 10px;
      padding: 8px 10px;
    }
  }