<div class="all-container">
  <div class="fields-container">
    <div class="row">
      <!-- Add [ngClass]="{'invalid-input': invalidFields['selectedTopic'], 'shake': shakeFields['selectedTopic']}" (change)="validateField('selectedTopic', selectedTopic)" to the topic select -->
      <div class="dropdown-select">
        <label for="Tema">Tema:</label>
        <select
          id="lesson"
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="selectedTopic"
          (ngModelChange)="updateSubtopics()"
          [ngClass]="{
            'invalid-input': invalidFields['selectedTopic'],
            shake: shakeFields['selectedTopic']
          }"
          (change)="validateField('selectedTopic', selectedTopic)"
        >
          <option *ngFor="let lesson of lessons$ | async" [value]="lesson.ID">
            {{ lesson.theme }}
          </option>
        </select>
      </div>

      <!-- Add [ngClass]="{'invalid-input': invalidFields['selectedSubtopic'], 'shake': shakeFields['selectedSubtopic']}" (change)="validateField('selectedSubtopic', selectedSubtopic)" to the subtopic select -->
      <div class="dropdown-select">
        <label for="Podtema">Podtema:</label>
        <select
          id="lesson"
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="selectedSubtopic"
          [ngClass]="{
            'invalid-input': invalidFields['selectedSubtopic'],
            shake: shakeFields['selectedSubtopic']
          }"
          (change)="
            validateField('selectedSubtopic', selectedSubtopic); setSubtopic()
          "
        >
          <option
            *ngFor="let subtopic of subtopics$ | async"
            [value]="subtopic.ID"
          >
            {{ subtopic.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="number-input-container">
        <label for="VrijemeRjesavanja">Vrijeme rješavanja:</label>

        <input type="text" appTimeMask class="number-input" [(ngModel)]="times.solving" [ngClass]="{'invalid-input': invalidFields['solving'], shake: shakeFields['solving']}" (ngModelChange)="validateField('solving', times.solving)">
      </div>
      <!-- Add the new "Broj ponavljanja" input field after the "VrijemeRjesavanja" input field -->
      <div class="number-input-container">
        <label for="BrojPonavljanja">Broj ponavljanja:</label>
        <input
          class="number-input"
          type="number"
          id="BrojPonavljanja"
          name="BrojPonavljanja"
          [(ngModel)]="numberOfRepetitions"
          min="0"
          [ngClass]="{
            'invalid-input': invalidFields['repetition'],
            shake: shakeFields['repetition']
          }"
          (ngModelChange)="
            updateTimesDiscussionAndCorrection();
            validateField('repetition', numberOfRepetitions)
          "
        />
      </div>
    </div>

    <ng-container *ngFor="let repetition of [].constructor(numberOfRepetitions); let i = index">
      <div class="row">
        <label>{{ i + 1 }}. ponavljanje</label>
        <div class="number-input-container">
          <label for="VrijemeDiskusije-{{ i }}">Vrijeme diskusije:</label>

          <input type="text" appTimeMask class="number-input"
            [(ngModel)]="times.discussion[i]"
            [ngClass]="{
              'invalid-input': invalidFields['discussion' + i],
              shake: shakeFields['discussion' + i]
            }"
            (ngModelChange)="validateField('discussion' + i, times.discussion[i])"
          >
        </div>
        <div class="number-input-container">
          <label for="VrijemeIspravljanja-{{ i }}">Vrijeme ispravljanja:</label>


          <input type="text" appTimeMask class="number-input"
            [(ngModel)]="times.correction[i]"
            [ngClass]="{
              'invalid-input': invalidFields['correction' + i],
              shake: shakeFields['correction' + i]
            }"
            (ngModelChange)="validateField('correction' + i, times.correction[i])"
          >

        </div>
      </div>
    </ng-container>


    <div class="row">
      <div class="number-input-container">
        <label> Broj tableta: </label>
        <input
          class="number-input"
          [(ngModel)]="numberOfTablets"
          (ngModelChange)="updateGroupings()"
          type="number"
          min="1"
          [ngClass]="{
            'invalid-input': invalidFields['numberOfTablets'],
            shake: shakeFields['numberOfTablets']
          }"
          (change)="validateField('numberOfTablets', numberOfTablets)"
        />
      </div>
      <div class="number-input-container">
        <label> Broj učenika: </label>
        <input
          class="number-input"
          [(ngModel)]="numberOfChildren"
          (ngModelChange)="updateGroupings()"
          type="number"
          min="2"
          [ngClass]="{
            'invalid-input': invalidFields['numberOfChildren'],
            shake: shakeFields['numberOfChildren']
          }"
          (change)="validateField('numberOfChildren', numberOfChildren)"
        />
      </div>
    </div>



    <button
      class="custom-button"
      (click)="handleClick()"
    >
      {{ buttonText }}

    </button>
  </div>

  <div class="group-container">
    <div class="custom-button-background">
      <button
      class="custom-button"
      [ngClass]="{
        'sort-selected': sortBalance
      }"
      (click)="balancedGroupingsFirst()"
    >
      Balansirana grupiranja
    </button>
    <button
      class="custom-button"
      [ngClass]="{
        'sort-selected': !sortBalance
      }"
      (click)="unbalancedGroupingsFirst()"
    >
      Nebalansirana grupiranja
    </button>
    </div>
    <div
      *ngIf="
        numberOfTablets !== null &&
        numberOfChildren !== null &&
        numberOfTablets * 2 > numberOfChildren
      "
    >
      <p>Nedovoljno učenika za ovu količinu tableta.</p>
    </div>
    <div
      *ngIf="
        numberOfTablets !== null &&
        numberOfChildren !== null &&
        numberOfTablets * 4 < numberOfChildren
      "
    >
      <p>Nedovoljno tableta za ovu količinu učenika.</p>
    </div>
    <div *ngIf="groupings.length > 0" class="grouping-segment">
      <h3>Grupiranja učenika po tabletima:</h3>
      <form>
        <div
          *ngFor="let grouping of groupings; index as i"
          class="grouping-container"
          [ngClass]="{
            'invalid-input': invalidFields['selectedGrouping'],
            shake: shakeFields['selectedGrouping']
          }"
          [class.selected]="selectedGrouping === grouping.toString()"
        >
          <div *ngFor="let tabletChildren of grouping" class="tablet-screen">
            <ng-container [ngSwitch]="tabletChildren">
              <ng-container *ngSwitchCase="2">
                <div class="child-screen half"></div>
                <div class="child-screen half"></div>
              </ng-container>
              <ng-container *ngSwitchCase="3">
                <div class="child-screen quarter top-left"></div>
                <div class="child-screen quarter top-right"></div>
                <div class="child-screen quarter bottom-left"></div>
              </ng-container>
              <ng-container *ngSwitchCase="4">
                <div class="child-screen quarter top-left"></div>
                <div class="child-screen quarter top-right"></div>
                <div class="child-screen quarter bottom-left"></div>
                <div class="child-screen quarter bottom-right"></div>
              </ng-container>
            </ng-container>
          </div>
          <input
            type="radio"
            [id]="'grouping-' + i"
            [value]="grouping.toString()"
            [(ngModel)]="selectedGrouping"
            name="grouping"
            (change)="validateField('selectedGrouping', selectedGrouping)"
          />
          <label [for]="'grouping-' + i" class="sr-only">{{
            grouping.join(", ")
          }}</label>
        </div>
      </form>
    </div>
  </div>
</div>


