div {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full {
    height: 100%;
    overflow: hidden;
    margin: 0.2em;
}

.answers {
    background-color: #eeeeee;
    border-radius: 0.5em;
}

.answer {
    background-color: white;
    margin-top: 0.7em;
    border-radius: 0.5em;
} 

.answer img {
    width: 100%;
    border-radius: 0.5em;
    padding: 0.2em;
}

.text {
    padding: 0.5em;
}

.white {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
}

h1 {
    font-size: 1em;
    font-weight: normal;
}

h2 {
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
    margin-top: 1.5em;
}

.padd {
    padding: 0;
}

.timer {
    font-size: 0.8em;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
}

p {
    font-size: 0.8em;
    margin-top: 0.5em;
}

button {
    font-size: 0.6em;
    padding: 0.6em;
    position: absolute;
    right: 20px;
    bottom: 20px;
}