<ul class="list-group">
    <li (click)="showContent('dl')" class="list-group-item" [ngStyle]="{'cursor': this.actionService.action === 'edit' ? 'default' : 'pointer', 'color': this.actionService.action === 'edit' ? 'rgba(0, 0, 0, 0.125)' : 'black'}">Dizajner lekcija</li>
    <li (click)="showContent('da')" class="list-group-item" [ngStyle]="{'cursor': this.actionService.action === 'edit' ? 'default' : 'pointer', 'color': this.actionService.action === 'edit' ? 'rgba(0, 0, 0, 0.125)' : 'black'}">Dizajner aktivnosti</li>
    <li (click)="showContent('s')" class="list-group-item" [ngStyle]="{'cursor': this.actionService.action === 'edit' ? 'default' : 'pointer', 'color': this.actionService.action === 'edit' ? 'rgba(0, 0, 0, 0.125)' : 'black'}">Statistika</li>
</ul>