h1 {
    margin-top: 10px;
    font-size: 30px;
    font-family: initial;
}

#dodaj_lekciju {
    position: absolute;
    top: 10px;
    right: 10px;
}

.list-group {
    margin-top: 60px;
}

label {
    margin-top: 15px;
}

#dodaj_podtemu, #obrisi_podtemu, #obrisi_temu {
    margin-top: 10px;
}

#obrisi_podtemu {
    margin-right: 5px;
}

#podtema {
    margin-top: 30px;
}

#uredi_lekciju {
    position: absolute;
    bottom: 10px;
    right: 10px;
}