h1 {
    margin-top: 10px;
    font-size: 30px;
    font-family: initial;
}

.container {
    max-width: 100%;
}

label:not(.form-check-label) {
    font-weight: 500;
    margin-top: 15px;
}

.list-group {
    margin-top: 3em;
    margin-bottom: 5em;
}

#addSubtheme, #deleteSubtheme, #deleteTheme, #addLection {
    margin-top: 10px;
}

#deleteSubtheme, #deleteTheme {
    margin-right: 5px;
}

#editLection {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.list-group-item {
    cursor: default;
}