<mat-dialog-content id="quiz">
  <div *ngIf="!allAnswersLoaded">
    <div class="loader"></div>
    <div id="center">Učitavanje zadatka...</div>
  </div>
  <div *ngIf="allAnswersLoaded">
    <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>
    <h2>{{data.task.textTask}}</h2>
    <form (ngSubmit)="chechkAnswers()">
      <div *ngFor="let answer of allAnswers" class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="answer.marked" name="answers" [id]="answer.name ? answer.name : answer.url">
        <label *ngIf="answer.name" class="form-check-label" for="flexCheckDefault" for="{{answer.name}}">
            {{answer.name}}
        </label>
        <label *ngIf="answer.url" class="image" for="{{answer.url}}"><img *ngIf="answer.url" [src]="answer.url"/></label>
      </div>
      <button type="submit" class="btn btn-primary">Provjeri</button>
    </form>
    <div *ngIf="result">
      <p id="res">{{result}}</p>
    </div>
  </div>
</mat-dialog-content>