<h1 #title>Nova lekcija</h1>

<form [formGroup]="lectionForm" (ngSubmit)="save()">
    <label class="form-label" for="theme">Tema</label>
    <input class="form-control" id="theme" type="text" formControlName="theme" [class.is-invalid]="lectionForm.get('theme').invalid && (lectionForm.get('theme').dirty || lectionForm.get('theme').touched)">
    <div *ngIf="lectionForm.get('theme').invalid && (lectionForm.get('theme').dirty || lectionForm.get('theme').touched)" class="invalid-feedback">
      <span *ngIf="lectionForm.get('theme').hasError('required')">Tema je obavezna.</span>
      <span *ngIf="lectionForm.get('theme').hasError('existThemes')">Tema već postoji u bazi.</span>
    </div>
  
    <label class="form-label" for="subject">Predmet</label>
    <select *ngIf="!isDisabled" class="form-select subject" formControlName="subject" [class.is-invalid]="lectionForm.get('subject').invalid && (lectionForm.get('subject').dirty || lectionForm.get('subject').touched)">
      <option value="0" disabled>Odaberite</option>
      <option value="HJ">Hrvatski jezik</option>
      <option value="MAT">Matematika</option>
      <option value="PiD">Priroda i društvo</option>
    </select>
    <input *ngIf="isDisabled" class="form-control subject" type="text" formControlName="subject">
    <div *ngIf="lectionForm.get('subject').invalid && (lectionForm.get('subject').dirty || lectionForm.get('subject').touched)" class="invalid-feedback">
      Odaberite predmet
    </div>

    <label class="form-label" for="subtheme">Podtema</label>
    <input class="form-control" id="subtheme" type="text" formControlName="subtheme" [class.is-invalid]="lectionForm.get('subtheme').invalid && (lectionForm.get('subtheme').dirty || lectionForm.get('subtheme').touched)">  
    <div *ngIf="lectionForm.get('subtheme').invalid && (lectionForm.get('subtheme').dirty || lectionForm.get('subtheme').touched)" class="invalid-feedback">
      <span *ngIf="lectionForm.get('subtheme').hasError('required')">Podtema je obavezna.</span>
      <span *ngIf="lectionForm.get('subtheme').hasError('existSubthemes')">Podtema već postoji u bazi.</span>
    </div>

    <label class="form-label" for="class">Razred</label>
    <select class="form-select" id="class" formControlName="class" [class.is-invalid]="lectionForm.get('class').invalid && (lectionForm.get('class').dirty || lectionForm.get('class').touched)">
      <option value="0" disabled>Odaberite</option>
      <option value="1">1.</option>
      <option value="2">2.</option>
      <option value="3">3.</option>
      <option value="4">4.</option>
    </select>
    <div *ngIf="lectionForm.get('class').invalid && (lectionForm.get('class').dirty || lectionForm.get('class').touched)" class="invalid-feedback">
      Odaberite razred
    </div>

    <div formArrayName="tasks" class="taskAndAnswers">
      <div *ngFor="let task of tasks.controls; let i = index;">
        <label class="form-label" for="t{{i}}">Vezija zadatka {{i + 1}}</label>
        <div class="tasks">
          <input class="form-control" id="t{{i}}" type="text" [formControlName]="i" [class.is-invalid]="tasks.at(i).invalid && (tasks.at(i).dirty || tasks.at(i).touched)">
          <button class="btn btn-light remove" type="button" *ngIf="i > 1 || tasks.length > 2" (click)="removeTask(i)">
            <i class="fa fa-minus-circle"></i>
          </button>
          <div *ngIf="tasks.at(i).invalid && (tasks.at(i).dirty || tasks.at(i).touched)" class="invalid-feedback">
            <div *ngIf="task.value === ''">
              Zadatak je obavezan!
            </div>
            <div *ngIf="task.errors['duplicate'] && task.value !== ''">
              Zadatak ne smije biti jednak drugom zadatku!
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="button" (click)="addTask()" [disabled]="tasks.length >= maxTasks">Dodaj zadatak</button>
    </div>
    
    <label class="form-label" for="type">Tip odgovora</label>
    <select class="form-select" id="type" formControlName="type" (change)="resetAnswers()">
      <option value="text" selected>Tekst</option>
      <option value="image">Slika</option>
    </select>
    
    <div class="answers" formArrayName="answers">
      <div *ngFor="let odg of answers.controls; let i = index;" class="odgovor">
        <label class="form-label" for="t{{i}}a0">Točni odgovori za zadatak {{i + 1}}</label>
        <div *ngFor="let url of listImages[i]">
          <div *ngIf="url !== ''" class="image">
            <img [src]="url" height="80em"><br/>
            <i class="fa fa-minus-circle" (click)="removeImage(url)"></i>
          </div>
        </div>
        <div formArrayName="{{i}}" id="inputs">
          <div *ngFor="let odg of getAnswers(i).controls; let j = index;">
            <span *ngIf="lectionForm.get('type').value === 'text'">
              <input class="form-control" id="t{{i}}a{{j}}" type="text" [formControlName]="j" [class.is-invalid]="getAnswers(i).at(j).invalid && (getAnswers(i).at(j).dirty || getAnswers(i).at(j).touched)">
              <button class="btn btn-light remove" type="button" *ngIf="j > 0 || getAnswers(i).length > 1" (click)="removeAnswer(i, j)">
                <i class="fa fa-minus-circle"></i>
              </button>
              <div *ngIf="getAnswers(i).at(j).invalid && (getAnswers(i).at(j).dirty || getAnswers(i).at(j).touched)" class="invalid-feedback">
                <div *ngIf="getAnswers(i).at(j).value === ''">
                  Odgovor je obavezan!
                </div>
                <div *ngIf="getAnswers(i).at(j).errors['duplicate'] && getAnswers(i).at(j).value !== ''">
                  Odgovor već postoji!
                </div>
              </div>
            </span>
            <span *ngIf="lectionForm.get('type').value === 'image'">
              <div class="input-group mb-3">
                <input type="file" class="form-control" id="t{{i}}a{{j}}" accept="image/*" [formControlName]="j" [class.is-invalid]="getAnswers(i).at(j).invalid && (getAnswers(i).at(j).dirty || getAnswers(i).at(j).touched)">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                <button class="btn btn-light remove" type="button" *ngIf="(j > 0) || getAnswers(i).length > 1 || (listImages[i] && listImages.length !== 0 && listImages[i][0] != '')" (click)="removeAnswer(i, j)">
                  <i class="fa fa-minus-circle"></i>
                </button>
                <div *ngIf="getAnswers(i).at(j).invalid && (getAnswers(i).at(j).dirty || getAnswers(i).at(j).touched)" class="invalid-feedback">
                  <div *ngIf="getAnswers(i).at(j).value === ''">
                    Slika je obavezna!
                  </div>
                  <div *ngIf="getAnswers(i).at(j).errors['duplicate'] && getAnswers(i).at(j).value !== ''">
                    Slika s istim nazivom već postoji!
                  </div>
                  <div *ngIf="getAnswers(i).at(j).errors['existImage'] && getAnswers(i).at(j).value !== ''">
                    Slika s ovim nazivom već postoji u bazi!
                  </div>
                </div>
              </div>              
            </span>
          </div>
        </div>
        <button class="btn btn-primary" type="button" (click)="addAnswer(i)">Dodaj odgovor</button>
      </div>
    </div>   

    <button class="btn btn-primary float-end" type="submit" #button>Dodaj lekciju</button>
</form>