h1 {
    margin-top: 10px;
    font-size: 30px;
    font-family: initial;
}

label {
    font-weight: 500;
}

label:not(.input-group-text) {
    margin-top: 10px;
    margin-bottom: 1px;
}

.zadatci input {
    display: inline;
    width: 90%;
}

.makni {
    margin-left: 5px;
}

.zad_i_odg {
    margin-bottom: 20px;
}

.float-end {
    margin-bottom: 20px;
}

.odgovori {
    margin-bottom: 40px;
    margin-left: 20px;
}

.odgovori input{
    width: 80%;
    display: inline;
}

.input-group {
    width: 80%;
}

.odgovor {
    margin-top: 50px;
}

.zad_i_odg button:not(.makni), .odgovori button:not(.makni) {
    margin-top: 10px;
}

input[readonly] {
    color: gray;
    cursor: default;
}

.slika {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    height: 7em;
    float: left;
    position: relative;
}

.slika i {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    cursor: pointer;
}

#inputi {
    clear: left;
    margin-top: 5px;
}