.container {
    margin: 50px 70px;
    width: 100%;
    max-width: 90vw;
}

.row {
    height: 600px;
}

#desno {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    margin-bottom: 50px;

}