.custom-button {
  background-color: rgb(240, 240, 240);
  border: none;
  color: rgb(0, 0, 0);
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
  transition: 0.5s;
}
.custom-button:hover {
  background-color: #007bff;
  color: rgb(255, 255, 255);
}

.custom-button.sort-selected {
  background-color: #007bff;
  color: rgb(255, 255, 255);
}

.sort-selected {
  background-color: lightblue;
}

.custom-button-background {
  padding: 0px 5px;
  display: inline-block;
  border-radius: 25px;
  background-color: rgb(240, 240, 240);
}
.data-display-container {
  display: flex;
  flex-wrap: wrap;
}
highcharts-chart{
  height: 800px;
}
.left{
  border-right: 1px solid #ccc;
}
.left,
.right {
  flex: 1 0 100%;
}

@media (min-width: 1440px) {
  .left,
  .right {
    flex: 1;
  }
}

.right-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin:  auto;
}
.block {
  flex-basis: calc((100% - 20px) / 2); /* Change this value to control how many blocks in one row */
  display: grid;
  border-radius: 5%;
  padding: 10px;
  margin: 5px;
  border-style: solid;
}
