
<div>
  <select [(ngModel)]="selectedId" 
  class="form-select" (change)="getData()">
    <option *ngFor="let doc of dropdownItems" [value]="doc.id">{{doc.displayText}}</option>
  </select>
  <hr>
 <div 
 class="custom-button-background">
    <button *ngFor="let group of groupOptions"
    class="custom-button"
      [ngClass]="{'sort-selected': selectedGroup === group}"
      (click)="selectGroup(group)">{{group == 'sve' ? 'Sve grupe' : 'Grupa ' + group}}
    </button>
 </div>
 <hr>
 
 
  
  

</div>
<div
class="custom-button-background">
  <button
  class="custom-button" 
    [ngClass]="{
      'sort-selected': displayData == 'accuracy'
    }"
    (click)="updateChart(1)">Točnost</button>
  <button
  class="custom-button" 
    [ngClass]="{
      'sort-selected': displayData == 'resolutionTime'
    }" (click)="updateChart(2)">Vremena rješavanja</button>
  <button
  class="custom-button" 
    [ngClass]="{
      'sort-selected': displayData == 'discussionTime'
    }" (click)="updateChart(3)">Vremena rasprave</button>
</div>

<hr>
<div id="chartCont">
  <highcharts-chart 
  #myChart 
  [callbackFunction]="chartCallback"
  [Highcharts]="Highcharts" 
  [options]="chartOptions" >
  [(update)]="updateFlag"
</highcharts-chart>


</div>
