/* Existing styles */
h1 {
    margin-top: 10px;
    font-size: 30px;
    font-family: initial;
}

#search {
    position: relative; /* Change to relative to avoid absolute positioning issues */
    margin-top: 10px;
    width: 100%; /* Change to 100% to make it responsive */
    display: flex;
    justify-content: flex-end;
}

#search .form-control {
    display: inline;
    margin-right: 0.5em;
    width: auto;
    flex-grow: 1; /* Allow the input to grow */
}

.container {
    max-width: 100%;
}

label:not(.form-check-label) {
    font-weight: 500;
    margin-top: 15px;
}

.list-group {
    margin-top: 3em;
    margin-bottom: 5em;
}

#showSubtheme, #addSubtheme, #deleteSubtheme, #deleteTheme, #addLection {
    margin-top: 10px;
}

#showSubtheme, #deleteSubtheme, #deleteTheme {
    margin-right: 5px;
}

#editLection {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.list-group-item {
    cursor: default;
}

/* New styles for responsiveness */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-9, .col-3 {
    flex: 1;
    min-width: 300px; /* Ensure columns don't get too narrow */
    margin-bottom: 20px; /* Add some space between rows */
}

.form-check {
    margin-bottom: 10px; /* Add some space between checkboxes */
}

@media (max-width: 768px) {
    #search {
        flex-direction: column;
        align-items: flex-start;
    }

    #search .form-control {
        margin-bottom: 10px;
        width: 100%;
    }

    .list-group {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #editLection {
        position: static;
        margin-top: 10px;
    }
}