.data-display-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.left{
  border-right: 1px solid #ccc;
}
.left,
.right {
  flex: 1 0 100%;
}

@media (min-width: 1440px) {
  .left,
  .right {
    flex: 1;
  }
}

.right-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin:  auto;
}

.iteration-column {
  text-align: center;
  border-left: 1px groove currentColor;
}

.group-border {
  border-top: 3px groove currentColor;
}

.mat-column-group-id {
  width: 6rem;
}

.group-id {
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  border-bottom: none;
}

.mat-header-row {
  font-weight: bold;
  border-bottom: 1px groove currentColor;
}
