
<select id="Lekcija" class="form-select" aria-label="Default select example" [(ngModel)]="selectedLekcija"  >
    <option *ngFor="let Lekcija of Lekcije$ | async" [value]="Lekcija.ID">{{Lekcija.tema}}</option>
  </select>
  <select id="Razred" class="form-select" aria-label="Default select example" [(ngModel)]="selectedRazred" >
    <option *ngFor="let Razred of Razredi$ | async" [value]="Razred.ID">{{Razred.Oznaka}}</option>
  </select>

  <div>
    <label for="brojTableta">Broj Tableta</label>
    <input type="number" id="brojTableta" name="brojTableta" [(ngModel)]="brojTableta"  >
  </div>
  <div>
    <label for="brojUcenika">Broj Ucenika</label>
    <input type="number" id="brojUcenika" name="brojUcenika" [(ngModel)]="brojUcenika"  >
  </div>

  <div>
    <label for="VrijemeRjesavanja">Vrijeme Rjesavanja</label>
    <input type="number" id="VrijemeRjesavanja" name="VrijemeRjesavanja" [(ngModel)]="Vrijeme.R"  >
  </div>
  <div>
    <label for="VrijemeDiskusije">VrijemeDiskusije</label>
    <input type="number" id="VrijemeDiskusije" name="VrijemeDiskusije" [(ngModel)]="Vrijeme.D"  >
  </div>
  <div>
    <label for="VrijemeIspravljanja">VrijemeIspravljanja</label>
    <input type="number" id="VrijemeIspravljanja" name="VrijemeIspravljanja" [(ngModel)]="Vrijeme.I"  >
  </div>
  
  <button type="submit" (click)="onSubmit()">Submit</button>
  <button type="delete" (click)="deleteAktivnost()">Delete</button>
